/*=============== FONT STYLE ===============*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/*=============== VARIABLES ===============*/
:root {
  --primary-color: #8dc63f;
  --secondary-color: #a3d163;
  --light-color: #929fa9;
  --dark-color: #232c35;
  --text-color: #435169;
  --border-color: #898686;
  --btn-color: #009ddd;
}

/*=============== BASE STYLES ===============*/
* {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

/*=============== NAVIGATION STYLES ===============*/

.phone,
.contact,
.selects,
.text-dark {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400px;
}
header {
  margin-left: 380px;
  width: 1240px;
}
.top-header {
  padding-top: 10px;
  width: 1920px;
  height: 36px;
  border-bottom: 1px solid #0000000d;
  background: #f9f9f9;
}
.select_box select {
  background: #f9f9f9;
}

.bottom-header {
  background: #fff;
  padding: 25px;
  height: 48px;
  width: 1140px;
  margin-left: 390px;
  border: 1px solid red;
}

.nav-item {
  margin: 0 15px;
  margin-left: 20px;
}

.navbar-nav li a {
  color: #435169;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.navbar-nav li a:hover,
.navbar-nav li a.active {
  color: var(--secondary-color);
}

.navbar-nav li a.nav_btn {
  padding: 12px 28px 12px 36px;
  border-radius: 100px;
  background: #8dc63f;
  border: none;
  font-size: 18px;
  line-height: 21.48px;
  text-align: right;
  font-weight: 500;
  gap: 10px;
  color: #fff;
}
.last_nav {
  margin-left: 63px;
}
.navbar-brand {
  margin-right: 25px;
}

/*=============== MENU BAR ===============*/
.menu_bar,
.close_btn {
  display: none;
  cursor: pointer;
}

.menu_bar i {
  font-size: 30px;
  color: #000;
}

.hero {
  width: 1920px;
  height: 680px;
  background: url("img/home.jpg");
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  background-size: cover;
  padding-top: 140px;
  z-index: 1000;
}
.hero-2 {
  background: url(img/hero-2.png);
}
.hero_container h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  text-align: left;
}
.hero_container h1 span {
  font-weight: 700;
}

.hero .hero_container h1,
.hero .hero_container h1 span,
.hero .hero_container p {
  color: #fff;
}

.hero .hero_container {
  width: 694px;
  height: 331px;
  top: 117px;
  margin-left: 390px;
  gap: 0px;
  border-radius: 100px 0px 0px 0px;
  opacity: 0px;
}
.hero_container .home_btn {
  padding: 19px 42px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 21.48px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  background: #009ddd;
}
.hero_container .hero_btn-2 {
  background: #8dc63f;
}
.carousel-inner {
  transition: transform 5s ease;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.carousel-indicators a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #6c757d;
  margin: 0 8px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.carousel-indicators a.active {
  width: 32px;
  height: 12px;
  background-color: #adb5bd;
  border-radius: 25px;
  transform: scale(1, 0.8);
}

/* ========== Boxs ========== */
.section_p {
  padding-left: 390px;
  padding-right: 390px;
}
.about_boxs {
  height: 450px;
  margin-top: 64px;
  margin-bottom: 156px;
}
.home_section {
  background: #fdfdfd;
  height: auto;
}
.about_boxs .box {
  width: 367px;
  height: 348px;
  border-radius: 16px;
  padding-left: 39.67px;
  cursor: pointer;
  margin: 65px 0;
  background: #fff;
  transition: 0.2s ease;
  position: relative;
  box-shadow: 0px 13px 100px #c7c7c740;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.about_boxs img {
  width: 80.69px;
  height: 95.65px;
  margin-bottom: 20px;
}
.about_boxs .img-3 {
  width: 100px;
}

.box .description h2 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 25px;
  max-width: 280px;
}
.box .description p {
  color: #435169;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
}

.box .home_btn {
  width: 145px;
  height: 50px;
  padding-top: 13px;
  background: #edffd2;
  font-size: 18px;
  border: 1px solid #8dc63f3b;
  color: #8dc63f;
  border-radius: 50px;
  line-height: 22px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.1s;
}
.box:hover {
  height: 416px;
}

.box:hover .home_btn {
  opacity: 1;
}

/* ========= about section -2 ========= */
.about_2 {
  margin-top: 86px;
}
.about_2 img {
  width: 463px;
  height: 375px;
  border-radius: 16px;
  margin-right: 86px;
}

.about_2 .description h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45.6px;
  margin-bottom: 16px;
  color: #011d0d;
}
.about_2 .description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  text-align: justify;
  margin-bottom: 16px;
  color: #435169;
}
.description .btn_2 {
  padding: 19px 42px;
  border-radius: 100px;
  background: #8dc63f;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
  border: none;
}

/* ============= Inter section ======== */
.inter_section h1 {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  color: var(--text-color);
  line-height: 45.6px;
  margin-top: 156px;
}

.inter_box h2 {
  text-align: center;
  padding-top: 50px;
  color: var(--text-color);
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}
.inter_box p {
  font-size: 18px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 28px;
  color: #435169;
}
.inter_box a {
  text-decoration: none;
  margin-bottom: 39px;
  font-size: 21px;
  color: #435169;
  font-weight: 600;
  transition: 1s ease-in-out;
}

.inter_box a i {
  height: 17px;
  width: 17px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  margin-right: 20px;
  transition: 1s ease-in-out;
}
.inter_box {
  height: 298;
  overflow: hidden;
}
.inter_box img {
  width: 550px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  transition: transform 1s ease-in-out;
}

.inter_boxs {
  flex-wrap: wrap;
}

.inter_boxs .inter_box {
  width: 550px;
  height: 517px;
  border-radius: 22px;
  cursor: pointer;
  margin: 15px 0;
  background: #f3ffe4;
  transition: 0.2s ease;
  position: relative;
  border: 1px solid #8dc63f26;
  overflow: hidden;
}

.inter_boxs .inter_box:nth-child(2) {
  background: #e4f5ff;
}
.inter_boxs .inter_box:nth-child(3) {
  background: #faf4e3;
  width: 1140px;
  height: 440px;
  border-radius: 22px;
  border: 1px solid #ff980026;
  overflow: hidden;
}
.inter_boxs {
  width: 100%;
  overflow: hidden;
}
.inter_boxs .inter_box:nth-child(3) img {
  height: 440px;
  width: 463px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 22px;
  transition: transform 1s ease-in-out;
}
.inter_boxs .inter_box:nth-child(3) .description h2 {
  margin: 0;
  color: #011d0d;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding-top: 90px;
  padding-bottom: 24px;
}
.inter_boxs .inter_box:nth-child(3) .description p {
  margin: 0;
  color: #435169;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 24px;
}

.inter_boxs .inter_box:nth-child(3) .description {
  margin: 0;
  padding: 0px 111px;
}
.img_box {
  width: 75%;
  overflow: hidden;
}
.inter_boxs .inter_box:nth-child(3) .inter_btn {
  margin: 0;
  padding-bottom: 91px;
}

.inter_box:hover img {
  transform: scale(1.2);
}

.inter_box:hover a {
  color: #ff9800;
}
.inter_box:hover a i {
  background: #ff9800;
}
.inter_box:hover .inter_btn2 {
  color: #009ddd;
}
.inter_box:hover .inter_btn2 i {
  background: #009ddd;
}

.inter_box:hover .inter_btn1 {
  color: #8dc63f;
}
.inter_box:hover .inter_btn1 i {
  background: #8dc63f;
}

/* ================ card ============= */
.card_container h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 45.6px;
  color: #011d0d;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-bottom: 60px;
}
.card-body .card-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #000;
  width: 657px;
}
.text-muted {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #435169;
  margin-top: 20px;
}
.text-right .btn {
  margin-top: 20px;
}
.left_card img {
  width: 657px;
  height: 450px;
  border-radius: 16px;
}

.right_site {
  margin-left: 50px;
  height: 450px;
}
.box_card {
  margin-bottom: 30px;
}
.box_card img {
  width: 106px;
  height: 106px;
  border-radius: 8px;
}
.card-body {
  padding: 17px 20px 10px 20px;
}
.card-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #435169;
}

.card-body .card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  color: #011d0d;
  width: 289px;
}

.right_site .bottom_border {
  width: 415px;
  height: 2px;
  background: #f3f3f3;
  margin-bottom: 30px;
}

.right_site .text-right .artical_btn {
  padding: 19px 42px;
  border: 1px solid #435169;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.68px;
  color: #435169;
  background: transparent;
}
.right_site .text-right .artical_btn:hover {
  background: transparent;
}

/* ========= Banner =======  */
.banner {
  margin-top: 165px;
  width: 1922px;
  height: 776px;
  background: #292929;
}
.banner h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  background: linear-gradient(90deg, #e0e0e0, #a8ffc5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  padding-top: 106px;
  margin-bottom: 48px;
}

.banner_item {
  width: 1143px;
  height: 453px;
}
.banner_item img {
  width: 270px;
  height: 353px;
  border-radius: 8px;
  margin-left: 10px;
}
.banner_item .first_img {
  margin-left: 0;
}
.banner_item .discription h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.banner_item .discription p {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
}

/*========= Video section =========*/
.video_cont {
  height: 933px;
  background: #f8fafc;
  margin: 0;
}
.video_container {
  width: 1140px;
  height: 621px;
}
.video-thumbnail img {
  width: 508px;
  height: 301px;
}
.video-thumbnail {
  position: relative;
}
.video-play-button img {
  width: 28px;
  height: 28px;
}

.video-play-button {
  position: absolute;
  top: 40%;
  right: 45%;
  background-color: #fff;
  border-radius: 50%;
  width: 73px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-time {
  position: absolute;
  bottom: 3%;
  right: 3%;
}
.section-title h2 {
  padding-top: 156px;
  font-weight: 700;
  font-size: 38px;
  line-height: 45.6px;
  text-align: center;
  color: #011d0d;
  margin-bottom: 16px;
}
.section-title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #435169;
  opacity: 70%;
  margin-bottom: 88px;
}

.card-body {
  padding: 0;
}
.card-body h5 {
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  color: #18181b;
  width: 431px;
}
.card-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #435169;
}
.video-time {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #fff;
}

/* ============ Last Section ============ */
.last_boxs {
  height: auto;
  overflow: visible;
  border: 1px solid red;
}
.last_container {
  margin-top: 156px;
  margin-bottom: 240px;
}
.last_container .last_boxs {
  padding: 20px;
  margin-bottom: 60px;
  width: 1208px;
  height: auto;
  overflow: hidden;
  border-radius: 16px;
  border-color: #f1f1f1;
  background: #fff;
  margin-left: -10px;
}

.contact-card {
  background: #d3ff954f;
  padding: 20px;
  width: 1225px;
  height: 130px;
  border: 1px solid #8dc63f26;
  border-radius: 16px;
  margin-left: -15px;
}
.faq-card h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 45.6px;
  color: #011d0d;
}
.faq-card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #434d56;
  padding-bottom: 20px;
  text-align: left;
  padding-top: 20px;
}
.accordion-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 22.68px;
}
.accordion-button:first-of-type {
  background-color: transparent;
  border: 0;
}
.accordion-item {
  border: 0;
  border-bottom: 1px solid #f1f1f1;
}
.accordion-item:last-of-type {
  border: 0;
}
.accordion {
  height: 100%;
  border: 0;
}
.left_con {
  width: 500px;
}

.fotter_left h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30.24px;
  color: #011d0d;
}

.fotter_left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18.9px;
  color: #435169;
}
.text-right .btn_art {
  background: #8dc63f;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
  color: #fff;
  border: 0;
  padding: 20px;
}
.text-right .btn:hover {
  background: #6fb015;
}

/*========= About  section ============ */

.about_hero {
  width: 1920px;
  height: 191px;
  top: 132px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(
    270deg,
    rgba(127, 196, 28, 0) -23.39%,
    #7fc41c 35.28%,
    #009ddd 131.09%
  );
}
.about_hero_container h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 52.5px;
  text-align: left;
  color: #fff;
  margin-left: 393px;
  padding-top: 69px;
}

.about_hero_container span {
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
}

.img {
  width: 680px;
  height: 191px;
  gap: 0px;
  opacity: 0.9;
  margin-left: 498px;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.about_hero_container {
  position: relative;
  overflow: hidden;
}
.about_hero_container .shadow {
  width: 304.32px;
  height: 59px;
  opacity: 0.3;
  background-image: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 100px;
  margin: 10px;
  margin-left: 109px;
  overflow: hidden;
}
.about_hero_container .shadow2 {
  margin-left: 250px;
}
.about_hero_container .shadow3 {
  margin-left: 370px;
}
.about_hero_container .shaBox {
  position: absolute;
  top: 20px;
  left: -150px;
  transform: rotate(-30deg);
}
.about_section {
  margin-top: 54px;
}
.about_section h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45.6px;
  text-align: left;
  margin-bottom: 33px;
}
.about_boxes {
  padding: 36px 24px;
  width: 1140px;
  height: 1797px;
  background: #f8fafc;
  border-radius: 16px;
  border: 1px solid #d9dfe4;
  margin-bottom: 77px;
}

.member,
.university,
.position {
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  text-align: justify;
  color: #011d0d;
  width: 350px;
  text-align: left;
  padding-bottom: 15px;
}

.university,
.member {
  font-weight: 400;
  vertical-align: left;
  width: 500px;
}
.university {
  width: 650px;
}
.committee-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.committee-list li {
  padding-top: 14px;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid #eeeeee;
}
.committee-list li:first-child {
  border: none;
  padding-top: 0;
}
.committee-list li:last-child {
  border: none;
}
.about-box ul li img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.about-box .btn {
  width: 1092px;
  height: 58px;
  border-radius: 50px;
  background: #ecf1f6;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: #011d0d;
  text-align: center;
  border: none;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-top: 52px;
  margin-bottom: 44px;
}
.members-section {
  width: 2057px;
  height: 741px;
  background: #eaf7ff;
  gap: 0px;
  opacity: 0px;
}
.members-section h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45.6px;
  text-align: center;
  padding-top: 47px;
  margin-bottom: 40px;
}
.members {
  display: grid;
  grid-template-columns: 28% 28% 28% 28%;
  align-items: center;
}
.member_info img {
  width: 193px;
  height: 205px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}
.member_info h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.member_info {
  margin-bottom: 50px;
}

.Committee h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45.6px;
  text-align: left;
  color: #1a2129;
  margin-top: 68px;
  margin-bottom: 48px;
}
.box_icon {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.box_icon a {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 36px;
}
.box_icon .btn {
  width: 366px;
  height: 54px;
  gap: 0px;
  background: #f2f3f3;
  border-radius: 50px;
  opacity: 0px;
  text-align: left;
  margin-bottom: 24px;
}
/*=============== FOOTER ===============*/
footer {
  background: var(--dark-color);
  height: 467px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

footer .cal {
  margin-top: 92px;
}

footer a,
footer p {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #a9b2b9;
  text-decoration: none;
  margin-bottom: 10px;
}

footer p {
  font-size: 15px;
  color: var(--light-color);
}

footer h4 {
  font-size: 16px;
  font-weight: 700;
  color: #f6f6f6;
  line-height: 24px;
  padding-bottom: 20px;
}

/*=============== FOOTER IMAGE AND TEXT ===============*/
.footer_img_box {
  position: relative;
  display: inline-block;
}

.img_content p {
  color: #fff;
  font-size: 9px;
  line-height: 11.76px;
  width: 100px;
  margin: 0;
  font-family: sans-serif;
}

.img_content {
  position: absolute;
  bottom: -25px;
  left: 50px;
  padding: 2px;
}

.navbar-brand .img-2 {
  margin-top: -20px;
  margin-left: 5px;
}

.social img {
  width: 105px;
  height: 18px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.text-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #a9b2b9;
}
/*=============== FORM STYLING ===============*/
.form_box input {
  width: 214px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #434d56;
  background: #1a2129;
  padding-left: 30px;
  margin-right: 10px;
}

.form_box input::placeholder {
  color: #5e6b74;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
}
.btn_box {
  padding-right: 35px;
}
.btn-success {
  padding: 8px 13px;
  font-size: 9px;
  border-radius: 16px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  color: #f6f6f6;
  background: #009ddd;
}

.btn-success i {
  margin-right: 5px;
  width: 8.5px;
  height: 10px;
  color: #fff;
}
.copyrite_box p {
  margin-top: 60px;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  margin-right: 75px;
}

/* ===== Responsive Design Media Queries ===== */

/* Desktops and Large Screens*/
@media (max-width: 1300px) {
  .section_p {
    margin: auto 0;
    padding-right: 100px;
    padding-left: 80px;
  }
  .inter_boxs,
  .about_2 {
    width: 100%;
  }
  header,
  .about_boxs {
    margin-left: -10px;
    width: 100%;
  }
  .banner {
    width: 100%;
  }
  .home_section {
    width: 100%;
    margin-left: 0;
  }
  .navbar-nav li a {
    font-size: 11px;
    line-height: 15px;
    padding-top: 15px;
  }


  .top-header,
  .bottom-header {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: #fff;
  }
  .top-header {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .navbar-brand {
    margin-left: 80px;
  }
  .navbar-nav li a.nav_btn {
    width: 170px;
  }

  .hero {
    width: 100%;
    padding: 60px 20px;
    height: auto;
  }

  .hero .hero_container {
    margin-left: 80px;
  }

  .about_2 img {
    width: 450px;
    margin-left: 30px;
  }

  .about_boxs .box {
    width: 300px;
    margin-left: 30px;
  }
  .inter_boxs .inter_box {
    width: 49%;
  }

  .video_cont .video_container {
    width: 100%;
    gap: 95px;
  }
  .video-thumbnail {
    width: 500px;
  }
  .banner .banner_items {
    margin: 0;
  }
  .last {
    width: 100%;
    padding-right: 60px;
  }
  .contact-card {
    width: 100%;
  }
  .right_con h2 {
    font-size: 15px;
  }
  .last_container .last_boxs {
    width: 100%;
  }
  .card-body {
    margin-left: -10px;
    margin-top: 20px;
  }

  .right_con h2 {
    font-size: 10px;
    text-align: center;
  }
  .faq-card p {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center;
  }
  .right_con div {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .text-right .btn {
    font-size: 13px;
  }
  footer .cal {
    margin-right: 30px;
  }
  .navbar-brand {
    margin-left: 0px;
  }
  a.btn-success {
    width: 100px;
  }
  footer a,
  footer p {
    font-size: 12px;
  }
  .description .btn_2 {
    width: 250px;
  }
  .hero_container .home_btn,
  .collapse .nav_btn {
    width: 200px;
  }
  .faq-card p {
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .collapse .nav_btn {
    width: 100px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 10px;
    gap: 5px;
  }
  .hero_container .home_btn {
    width: 200px;
  }
  .box .description h2 {
    font-size: 20px;
  }

  .navbar-nav li a {
    font-size: 6.5px;
    line-height: 10px;
    padding-top: 15px;
  }
  .navbar-nav li a.nav_btn {
    margin-right: -30px;
}
  .box .description p {
    font-size: 15px;
  }
  .about_boxs .box {
    padding: 20px;
  }

  .about_2 .description h1 {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 0;
  }
  .description .btn_2 {
    width: 250px;
  }
  .about_2 .description p {
    font-size: 13px;
    line-height: 21px;
  }
  .video-play-button {
    width: 50px;
    height: 50px;
  }
  .video-thumbnail .video-play-button img {
    width: 30px;
    height: 30px;
  }
  .card_container .allDetails {
    flex-direction: column;
    gap: 50px;
  }

  .card_container .allDetails .left_site {
    width: 100%;
  }
  .allDetails .left_site .left_card img {
    width: 100%;
  }
  .faq-card p {
    font-size: 15px;
    text-align: left;
  }
  .left_con {
    width: 300px;
  }
  .right_site {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
  }
  .right_site .box_card {
    width: 40%;
  }
  .bottom_border {
    display: none;
  }
  .card-body {
    height: 106px;
    margin-left: 10px;
  }

  .card-body .card-title {
    font-size: 15px;
    width: 240px;
  }

  .banner_item img {
    width: 190px;
  }

  .video_container {
    flex-direction: column;
  }

  .video_cont .container {
    width: 100%;
    background: #000;
  }

  .video_cont .cont {
    width: 100%;
  }
  .video_container div img {
    width: 100%;
    height: auto;
  }
  .video_container div {
    width: 100%;
  }
  .video_cont {
    height: 270vh;
  }
  .section-title h2 {
    padding-top: 56px;
  }
  .section-title {
    width: 100%;
  }
}
/* Tablets (max-width: 992px) */
@media (max-width: 992px) {
  .bottom-header,
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav li a {
    font-size: 10px;
    font-weight: 300;
    line-height: 5px;
  }

  .hero_container {
    margin-left: 0;
    padding: 20px;
  }

  .about_boxs .box,
  .inter_boxs .inter_box {
    width: 100%;
    margin: 20px 0;
  }

  .about_2 img,
  .inter_box img {
    width: 100%;
    height: auto;
  }

  .card_container h1 {
    font-size: 32px;
  }
}

/* Mobile Phones (max-width: 768px) */
@media (max-width: 768px) {
  .hero {
    padding: 90px 10px;
  }
  .home_section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .inter_boxs .inter_box:nth-child(3) .description h2 {
    padding-top: 20px;
  }
  .about_2 img {
    margin: 0;
  }
  .inter_box p {
    font-size: 12px;
    text-align: left;
  }
  .video-thumbnail .video-play-button img {
    width: 30px;
    height: 30px;
  }
  .card_container {
    height: 130vh;
  }
  .right_site .box_card {
    width: 100%;
  }
  .bottom_border {
    display: block;
  }
  .hero_container {
    text-align: center;
  }

  .hero_container h1 {
    font-size: 28px;
  }
  .hero_container p {
    font-size: 15px;
    text-align: left;
  }
  .hero_container .home_btn {
    margin-left: -200px;
  }
  .hero .hero_container {
    width: 451px;
  }
  .hero {
    background-position: center;
  }
  .home_section .about_boxs {
    flex-direction: column;
  }

  .about_boxs {
    height: 90vh;
  }
  .about_boxs .box {
    width: 100%;
    margin: 20px 0;
    padding-bottom: 50px;
  }
  .accordion-button {
    font-size: 10px;
    width: 100%;
  }

  .menu_bar {
    display: block;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }

  .navbar-nav {
    display: flex;
    position: absolute;
    top: -1000%;
    right: 0;
    left: 0;
    flex-direction: column;
    padding: 0 5%;
    background: #edffd2;
    transition: all 2s ease;
    padding-top: 100px;
    padding-bottom: 60px;
    z-index: 200;
  }
  .navbar-nav li a.nav_btn {
    width: 190px;
    font-size: 24px;
    margin-left: -50px;
  }
  .navbar-nav li a {
    font-size: 20px;
    font-weight: 300;
    line-height: 5px;
    padding-bottom: 50px;
    text-decoration: none;
    color: #333;
  }

  .navbar-nav.open {
    top: 100%;
  }

  .navbar-nav.open .menu_bar {
    display: none;
  }

  .bottom-header {
    padding: 10px;
  }

  .inter_boxs .inter_box {
    width: 100%;
    height: auto;
  }
  .inter_box .description {
    padding-top: 30px;
  }
  .inter_box .description p,
  .inter_box .description h2 {
    text-align: center;
  }

  .about_2 {
    flex-direction: column;
    align-items: center;
  }

  .about_2 .description {
    margin-top: 20px;
    text-align: center;
  }

  .right_site {
    margin-left: 0;
  }

  .banner_item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner_item img {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }
  .banner_item .discription h2 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
  .banner {
    height: 60vh;
  }
  .banner_item .discription p {
    font-size: 12px;
    line-height: 20px;
  }
  .video_cont {
    height: 130vh;
  }
  .video_cont .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .faq-card p {
    font-size: 10px;
    width: 300px;
  }
  .accordion-header {
    width: 200px;
    margin-left: -200px;
  }
  .right_con h2 {
    font-size: 7px;
    line-height: 10px;
  }
  .fotter_left h4 {
    font-size: 18px;
    line-height: 20.24px;
  }
  .fotter_left p {
    font-size: 15px;
    width: 300px;
    line-height: 18.9px;
  }
  .img_content p {
    text-align: left;
  }
  .img_content {
    left: 60px;
  }
  .faq-card h3 {
    font-size: 30px;
    width: 500px;
    text-align: center;
  }
  .faq-card p {
    font-size: 20px;
    width: 500px;
  }
  .right_con .accordion {
    margin-left: 170px;
    padding: 20px;
  }
  .accordion-button {
    width: 600px;
  }
  .accordion-body {
    padding: 0;
    margin: 0;
    margin-left: -190px;
  }

  .video-thumbnail {
    margin-bottom: 20px;
  }
  .accordion-button {
    font-size: 10px;
    color: #000;
  }

  .last .container .last_boxs {
    flex-direction: column;
    align-items: center;
  }
  .right_con {
    margin: 0;
    padding: 0;
  }

  footer {
    text-align: center;
    padding: 20px;
  }

  .form_box input {
    width: 150px;
    margin-right: 5px;
  }

  .btn_box {
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  footer .footer_box {
    flex-direction: column;
  }
  footer {
    height: 100%;
  }
  .hero_container h1 {
    font-size: 28px;
  }
  .copyrite_box {
    font-size: 10px;
    flex-direction: column;
  }
  .contact-card {
    flex-direction: column;
    height: 30vh;
  }
  .bottom-header,
  .top-header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav_btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .about_boxs .box,
  .inter_boxs .inter_box {
    width: 100%;
    margin: 10px 0;
  }

  .card_container h1 {
    font-size: 28px;
  }

  .card-body h5,
  .text-muted {
    font-size: 16px;
  }

  .last_container {
    margin: 30px 0;
  }
  .accordion-button {
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
  }
  .accordion-body {
    font-size: 0.8rem;
  }
  .video-play-button {
    width: 53px;
    height: 53px;
  }
  .video_cont {
    height: 155vh;
  }
  footer .cal {
    margin-top: 30px;
  }
  .card_container {
    height: 170vh;
  }
  .banner_item .discription h2 {
    font-size: 12px;
  }
  .banner h1,
  .section-title h2 {
    padding-top: 56px;
    font-size: 30px;
  }
  .right_con .accordion {
    margin-left: 0px;
    padding: 20px;
  }
  .accordion-button {
    width: 500px;
  }
  .accordion-body {
    padding: 0;
    margin: 0;
    margin-left: -199px;
  }
}

/* Small Mobile Phones (max-width: 480px) */
@media (max-width: 480px) {
  .contact-card,
  .copyrite_box,
  footer .footer_box,
  .last_boxs {
    flex-direction: column;
  }
  .phone,
  .contact,
  .selects,
  .text-dark {
    font-size: 10px;
  }
  .hero .hero_container {
    margin-left: 20px;
  }
  .hero {
    height: 70vh;
  }
  .hero_container .home_btn {
    margin-left: -200px;
  }

  .inter_boxs .inter_box {
    padding-left: 10px;
  }
  .hero {
    padding: 20px 0px;
    text-align: center;
  }
  .hero_container h1 span {
    font-weight: 500;
  }
  .hero_container h1 {
    font-size: 20px;
    width: 350px;
  }
  .hero_container p {
    font-size: 10px;
    width: 300px;
  }
  .home_section {
    padding-left: 20px;
    padding-right: 10px;
  }
  .card_container {
    height: 170vh;
  }
  .about_boxs {
    height: 160vh;
  }
  .banner .banner_items {
    margin-left: -80px;
  }

  .video-play-button {
    top: 40%;
    right: 45%;
    width: 40px;
    height: 40px;
  }
  .video-thumbnail .video-play-button img {
    width: 20px;
    height: 20px;
  }
  .video-time {
    font-size: 12px;
  }
  .card-body h5 {
    width: 280px;
  }

  .about_2 img,
  .inter_box img,
  .left_card img,
  .right_site .box_card img {
    width: 100%;
    height: auto;
  }
  .inter_section h1 {
    font-size: 28px;
  }

  .inter_box h2 {
    font-size: 20px;
  }
  .inter_boxs .inter_box:nth-child(3) .description {
    padding: 4px;
  }
  .inter_box a {
    font-size: 15px;
  }
  .banner {
    height: 80vh;
    padding-left: 50px;
  }
  .banner_item {
    height: 100px;
  }
  .banner_item img {
    width: 60%;
    margin: 10px 0;
  }
  .banner_item .discription h2 {
    font-size: 10px;
    line-height: 20px;
  }
  .banner h1 {
    font-size: 22px;
    text-align: left;
  }

  .right_con {
    width: 100%;
    margin-left: 300px;
  }

  .accordion-button {
    font-size: 10px;
    margin-left: -20px;
    width: 300px;
  }
  .accordion-item {
    border: 0;
  }
  .banner_item .discription p {
    font-size: 7px;
    line-height: 20px;
  }
  .video_cont {
    height: 190vh;
  }
  .faq-card h3 {
    font-size: 30px;
    width: 500px;
    text-align: left;
  }
  .faq-card p {
    font-size: 10px;
    width: 300px;
    text-align: left;
  }
  .fotter_left h4 {
    font-size: 13px;
  }
  .fotter_left p {
    font-size: 10px;
  }
  .contact-card {
    height: 30vh;
  }
  .img_content {
    left: 80px;
  }
  a.btn-success {
    width: 150px;
  }
  .card-body h5 {
    font-size: 14px;
  }
  .last {
    height: 160vh;
  }
  .last_boxs {
    border: 0;
  }
  .left_con {
    width: 100%;
  }
  .last .accordion {
    height: 60vh;
  }
  .section_p {
    padding-left: 30px;
    padding-right: 10px;
    margin: 0;
  }
  .card-body .card-title {
    width: 200px;
  }
  .about_2 img {
    width: 300px;
  }
  .right_con {
    margin-left: 200px;
    width: 40%;
  }

  .about_2 .description p {
    font-size: 10px;
  }

  .copyrite_box p {
    margin: 0;
    font-size: 10px;
  }
  .form_box input {
    padding-left: 10px;
  }

  footer {
    padding: 10px;
    height: 100%;
  }

  .btn-success {
    font-size: 10px;
  }

  .menu_bar {
    font-size: 20px;
  }
}
